@import "~assets/scss/variables";
@import "~assets/scss/table";
.add-partner-container{
  &.fixedFooterPadding {
    padding-bottom: 130px;
  }
  .page-title{
    font-size: 26px;
    font-weight: 600;
    padding-top: 15px;
    margin: 0 0 40px;
  }
  
  .input-group {
    button {
      padding: 0;
      line-height: initial;
      height: auto;
    }
  }
}
.commission-form{
  .second-title{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 40px 0 30px;
    text-transform: uppercase;
  }
}
.divider{
  &.form-divider {
    margin-top: 20px;
  }
}
