<div class="change-password-container">
  <h2 class="page-title">Change Password</h2>

  <div class="row">
    <div class="col-md-6 password-form">
      <form class="change-password-form" autocomplete="off"  [formGroup]="changePasswordForm" (submit)="changePassword()">

        <div class="form-group input-with-sign">
          <label for="olDpassword">Old Password*</label>
          <input type="{{passwordType.oldPassword}}" autocomplete="new-password" class="form-control" id="oldPassword" formControlName="oldPassword"
            placeholder="Enter old password"
            [ngClass]="{'is-invalid': (f?.controls?.oldPassword?.touched && f?.controls?.oldPassword?.errors)}">
          <ng-container *ngIf="f?.controls?.oldPassword?.touched">
            <div class="invalid-feedback" *ngIf="f?.controls?.oldPassword?.errors?.required">
              Old password is required.
            </div>
            <div class="invalid-feedback" *ngIf="f?.controls?.oldPassword?.errors?.minlength">
              Old password minimum length is 7 characters.
            </div>
            <div class="invalid-feedback" *ngIf="f?.controls?.oldPassword?.errors?.pattern">A number, special character
              (@,!,$ etc), uppercase and lowercase letter is required.
            </div>
          </ng-container>
          <em class="material-icons off" *ngIf="passwordType.oldPassword === 'password'"
            (click)="passwordType.oldPassword = 'text'">visibility_off</em>
          <em class="material-icons on" *ngIf="passwordType.oldPassword === 'text'"
            (click)="passwordType.oldPassword = 'password'">visibility_on</em>
        </div>


        <div class="form-group input-with-sign">
          <label for="newPassword">New Password*</label>
          <input type="{{passwordType.newPassword}}" autocomplete="new-password" class="form-control" id="newPassword" formControlName="newPassword"
            placeholder="Enter new password"
            [ngClass]="{'is-invalid': (f?.controls?.newPassword?.touched && (f?.controls?.newPassword?.errors || f?.errors?.oldPasswordMatch))}">
          <ng-container *ngIf="f?.controls?.newPassword?.touched">
            <div class="invalid-feedback" *ngIf="f?.controls?.newPassword?.errors?.required">New password is required.
            </div>
            <div class="invalid-feedback" *ngIf="f?.controls?.newPassword?.errors?.minlength">New password minimum
              length is 7
              characters.
            </div>
            <div class="invalid-feedback" *ngIf="!f?.controls?.newPassword?.errors?.minlength && f?.controls?.newPassword?.errors?.pattern">A number, special character
              (@,!,$ etc), uppercase and lowercase letter is required.
            </div>
            <div class="invalid-feedback" *ngIf="f?.errors?.oldPasswordMatch">Old password and new password can not be same.
              </div>
          </ng-container>
          <em class="material-icons off" *ngIf="passwordType.newPassword === 'password'"
            (click)="passwordType.newPassword = 'text'">visibility_off</em>
          <em class="material-icons on" *ngIf="passwordType.newPassword === 'text'"
            (click)="passwordType.newPassword = 'password'">visibility_on</em>
        </div>

        <div class="form-group input-with-sign">
          <label for="confirmNewPassword">Confirm New Password*</label>
          <input type="{{passwordType.confirmPassword}}" autocomplete="new-password" class="form-control" id="passwordConfirmation"
            formControlName="passwordConfirmation" placeholder="Re-confirm new password" maxlength="15"
            [ngClass]="{'is-invalid': (f?.controls?.passwordConfirmation?.touched && (f?.controls?.passwordConfirmation?.errors || f?.errors?.mismatch))}">
          <ng-container *ngIf="f?.controls?.passwordConfirmation?.touched">
            <div class="invalid-feedback" *ngIf="f?.controls?.passwordConfirmation?.errors?.required">Confirm new
              password is
              required.
            </div>
            <div class="invalid-feedback" *ngIf="f?.errors?.mismatch">Confirm new password must be same as new password.
            </div>
          </ng-container>
          <em class="material-icons off" *ngIf="passwordType.confirmPassword === 'password'"
            (click)="passwordType.confirmPassword = 'text'">visibility_off</em>
          <em class="material-icons on" *ngIf="passwordType.confirmPassword === 'text'"
            (click)="passwordType.confirmPassword = 'password'">visibility_on</em>
        </div>

        <div class="text-right">
          <button class="btn primary mw-200" [disabled]="!f.valid" type="submit">Update</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 password-image">
      <div class="image-section">
        <img src="../../../../assets/images/change password.svg" alt="Change Password" />
      </div>
    </div>
  </div>

</div>
