@import "../../../../../../assets/scss/variables";
@import "../../../../../../assets/scss/table";

.awaited-quote-table {
  min-height: 310px;

  .product-image {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }

  .btn {
    width: 135px;
    height: 35px;
    font-size: 12px;
    padding: 8px 0 7px;

    &+.btn {
      margin-top: 10px;
    }
  }

  .table-head,
  .table-body {
    justify-content: space-between;
  }
}

.tab-content-head {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  .sort-filter {
    margin-left: 10px;
  }
  &.tab-head-with-report-filter {
    justify-content: flex-start;
    .order-report-filter-section {
      margin-left: auto;
      display: inline-flex;
      align-items: center;
      p {
        margin: 0 10px 0 10px;
        font-size: 15px;
      }
    }
    @media screen and (max-width: $tablet-pro) {
      justify-content: space-between;
      flex-wrap: wrap;
      .order-report-filter-section {
        margin-top: 20px;
        flex-wrap: wrap;
        width: 100%;
        p {
          margin: 0 15px 0 0;
        }
      }
    }
    @media screen and (max-width: $phone-landscape) {
      .order-report-filter-section {
        p {
          margin: 0 0 15px 0;
        }
      }
    }
  }
  .select-list-container {
    display: inline-flex;
    align-items: center;

    .ng-select {
      width: 20%;
      max-width: 170px;

      &:nth-child(2),
      &:nth-child(3) {
        min-width: 160px;
      }

      &:nth-child(1) {
        min-width: 130px;
      }

      &+.ng-select {
        margin-left: 16px;
      }
    }
  }
}
@media screen and (max-width: $phone-landscape) {
  .tab-content-head {
    margin-bottom: 24px;
    .select-list-container {
      &.sm-filter-dropdown {
        width: calc(50% - 8px);
      }
    }
    .sort-filter {
      margin-left: 0;
    }
  }
}
.pointer{
  cursor: pointer;
}
