<div class="modal-header quote-invoice-header" ngbAutoFocus>
  <div class="quote-invoice-image">
    <img src="./../../../../assets/images/logo.png" class="img-contain" alt="Logo" />
  </div>

  <div class="quote-invoice-text">
    <h2 *ngIf="!quote?.orderId">Quote #{{quote?.setQuoteSeries || quote?.quoteSeries || quote?.quoteId}}</h2>
    <p *ngIf="!quote?.orderId"><span>Date/Time Quote Requested:
      </span>{{(quote?.quoteCreatedAt  | date: 'mediumDate') || (quote?.latestReply?.createdAt  | date: 'mediumDate') || (quote?.quoteRequestedDate  | date: 'mediumDate')}}
      |
      {{(quote?.quoteCreatedAt  | date: 'shortTime') || (quote?.latestReply?.createdAt  | date: 'shortTime') || (quote?.quoteRequestedDate  | date: 'shortTime')}}</p>
    <p *ngIf="quote?.status !== quoteViewStatus.PURCHASED" class="quote-view-status">
      <span [ngClass]="{'canceled':  (quote.status === 'CANCELLED')}">{{quoteViewStatus[quote?.status]}}</span></p>
    <ng-container *ngIf="quote?.orderId">
      <h2>ORDER ID #{{quote?.orderId}}</h2>
      <p><span>ORDER DATE/TIME: </span>{{quote?.createdAt  | date: 'mediumDate'}} |
        {{quote?.createdAt  | date: 'shortTime'}}</p>
    </ng-container>
  </div>

  <img *ngIf="quote?.status === quoteViewStatus.PURCHASED" class="paid-image" src="./../../../../assets/images/paid.svg"
    alt="Paid image" />
  <button type="button" class="close big-close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="invoice-sub-header">
        <h3>{{quote?.vendors?.name}}</h3>
        <p>
          <span>{{quote?.companyAddress?.address}}</span>
          <!--City state removed due to feedback-->
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="invoice-sub-header-detail">
        <div class="text">
          <span>Representative: </span>{{quote?.companyAdmin?.firstName}} {{quote?.companyAdmin?.lastName}}</div>
        <div class="text"><span>Phone: </span> {{quote?.companyAdmin?.phone | formatPhone}}</div>
        <div class="text"><span>Email:</span> {{quote?.companyAdmin?.email}}</div>
      </div>
    </div>

    <div class="info-section">
      <div class="info-heading">Planner Information</div>
      <div class="col-md-6">
        <div class="text">
          <span class="heading">Contact:</span>
          <span class="detail">{{quote?.planners | formatPlannerName}}</span>
        </div>
        <div class="text">
          <span class="heading">Company:</span>
          <span class="detail">{{quote?.planners?.companyName  ? quote?.planners?.companyName: '-'}}</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text">
          <span class="heading">Phone:</span>
          <span class="detail">{{quote?.planners?.phone | formatPhone}}</span>
        </div>
        <div class="text">
          <span class="heading">Email:</span>
          <span class="detail">{{quote?.planners?.email}}</span>
        </div>
      </div>
    </div><!-- end info section -->

    <div class="info-section">
      <div class="info-heading">Event Information</div>
      <div class="col-md-6">
        <div class="text">
          <span class="heading">Event Start:</span>
          <span class="detail">{{quote?.events?.startDate  | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}}
          </span>
        </div>
        <div class="text">
          <span class="heading">Venue:</span>
          <span class="detail">{{quote?.events?.venueName}}</span>
        </div>
        <div class="text">
          <span class="heading">Venue Address:</span>
          <span class="detail">{{quote?.events?.address}}, {{quote?.events?.city}}, {{quote?.events?.state}}, {{quote?.events?.zipCode}}</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text">
          <span class="heading">Event End:</span>
          <span class="detail">{{quote?.events?.endDate  | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}}
          </span>
        </div>
        <div class="text">
          <span class="heading">Event Name:</span>
          <span class="detail">{{quote?.events?.name}}</span>
        </div>
        <div class="text">
          <span class="heading">Event Type:</span>
          <span class="detail">{{quote?.events?.eventType}}</span>
        </div>
        <div class="text">
          <span class="heading">Total Guests:</span>
          <span class="detail">{{quote?.events?.guestCount}}</span>
        </div>
      </div>
    </div><!-- end info section -->

    <div class="info-section info-notes">
      <div class="info-heading">Event Notes</div>
      <div class="col-12">
        <div class="text">
          <span class="heading">Overview of Event</span>
          <span class="detail">{{quote?.events?.details}}</span>
        </div>
        <div class="text">
          <span class="heading">Planner Notes</span>
          <span class="detail">{{quote?.notes}}</span>
        </div>
      </div>
    </div><!-- end info section -->

    <div class="info-section">
      <div class="info-heading">Event Logistics</div>
      <div class="col-md-6">
        <div class="text">
          <span class="heading">Delivery Start:</span>
          <span class="detail">{{quote?.varriableInfo?.deliveryStartDate  | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}}
          </span>
        </div>
        <div class="text">
          <span class="heading">Set Up Start:</span>
          <span class="detail">{{quote?.varriableInfo?.setUpFromDate  | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}} </span>

        </div>
        <div class="text">
          <span class="heading">Breakdown Start:</span>
          <span class="detail">{{quote?.varriableInfo?.breakDownStartDate  | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text">
          <span class="heading">Delivery End:</span>
          <span class="detail">{{quote?.varriableInfo?.deliveryEndDate | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}} </span>
        </div>
        <div class="text">
          <span class="heading">Set Up End:</span>
          <span class="detail">{{quote?.varriableInfo?.setUpToDate | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}}
          </span>
        </div>
        <div class="text">
          <span class="heading">Breakdown End:</span>
          <span class="detail">{{quote?.varriableInfo?.breakDownEndDate  | timezoneDateFormat: quote?.events?.eventTimezone}}
            {{timezoneMap[quote?.events?.eventTimezone]}}
          </span>
        </div>
      </div>
    </div><!-- end info section -->
    <form class="w-100">
      <div class="form-group col-12">
        <label for="vendorNotes">Vendor Notes*</label>
        <div>{{quote?.latestReply?.vendorNotes}}</div>
        <!-- please put "is-invalid" class for error -->

      </div>

      <div class="info-section info-table-section">
        <div class="info-heading">Contract Items</div>
        <div class="table-listing quote-invoice-table mb-4 overflow-unset w-100">
          <div class="table-head-wrapper">
            <div class="table-head">
              <div class="thead-data">Name/Description</div>
              <div class="thead-data">Qty*</div>
              <div class="thead-data">Price*</div>
              <div class="thead-data">Total Price</div>
            </div>
          </div>
          <div class="table-body-wrapper mb-0">
            <div class="table-body mb-0">
              <!-- repeat this div -->
              <div class="tbody-data" data-label="Name/Description">
                <span class="heading">{{quote?.products?.name}}</span>
                <span class="des">{{quote?.products?.description}} </span>
              </div>
              <div class="tbody-data" data-label="Qty">
                <div>{{quote?.latestReply?.quantity}}</div>
              </div>
              <div class="tbody-data" data-label="Price">
                <div>{{quote?.latestReply?.price | currency:'USD':'symbol':'1.0-2'}}</div>
              </div>

              <div class="tbody-data" data-label="Total Price">
                {{quote?.latestReply?.quantity*quote?.latestReply?.price | currency:'USD':'symbol':'1.0-2'}}</div>

              <div class="tbody-data additional-detail">
                <div class="first-level">
                  <span class="heading">Additional Details <span>(Guidelines)</span></span>
                  <span class="des">{{quote?.products?.additionalDetails}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="table-body-wrapper mb-0"
            *ngFor="let additionalProducts of quote?.latestReply?.additionalProducts">
            <div class="w-100">
              <!-- repeat this div -->
              <div class="table-body mb-0">
                <div class="tbody-data" data-label="Name/Description">
                  <span class="heading">{{additionalProducts?.name}}</span>
                  <span class="des">{{additionalProducts?.description}}</span>
                </div>
                <div class="tbody-data" data-label="Qty">
                  <div>{{additionalProducts?.quantity}}</div>
                </div>
                <div class="tbody-data" data-label="Price">
                  <div>{{additionalProducts?.price | currency:'USD':'symbol':'1.0-2'}}</div>
                </div>
                <div class="tbody-data" data-label="Total Price">
                  {{additionalProducts?.quantity * additionalProducts?.price | currency:'USD':'symbol':'1.0-2'}}
                </div>
                <div class="tbody-data additional-detail">
                  <div class="first-level">
                    <span class="heading">Additional Details <span>(Guidelines)</span></span>
                    <span class="des">{{additionalProducts?.additionalGuide}}</span>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div><!-- end table -->
        <div class="additional-column only-view-details">
          <div class="first-level">&nbsp;</div>
          <div class="second-level">
            <div class="col-12">
              <div class="text">Labor</div>
              <div class="form-group">
                <label for="enterFirstAmount" class="sr-only">Amount</label>
                <span>{{quote?.latestReply?.laborFee ? (quote?.latestReply?.laborFee | currency:'USD':'symbol':'1.0-2') : 0}}</span>
              </div>
            </div>
            <div class="col-12">
              <div class="text">Delivery</div>
              <div class="form-group">
                <label for="enterSecondAmount" class="sr-only">Amount</label>
                <div>
                  {{quote?.latestReply?.deliveryFee ? (quote?.latestReply?.deliveryFee | currency:'USD':'symbol':'1.0-2') : 0}}
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text">Tax</div>
              <div class="form-group">
                <label for="enterThirdAmount" class="sr-only">Amount</label>
                <span>{{quote?.latestReply?.tax ? (quote?.latestReply?.tax | currency:'USD':'symbol':'1.0-2') : 0}}</span>

              </div>
            </div>
            <div *ngIf="quote?.latestReply?.additionalCharges?.length" class="w-100">
              <div class="w-100" *ngFor="let chrges of quote?.latestReply?.additionalCharges">
                <div class="col-12 position-relative">
                  <div class="form-group">
                    <div>{{chrges?.name}}</div>
                  </div>
                  <div class="form-group">
                    <div>{{chrges?.price | currency:'USD':'symbol':'1.0-2'}}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <ng-container *ngIf="quote?.orderId; else quoteTotal">
            <div class="total-container">
              <div class="price">Total</div>
              <div class="total">{{quote?.totalPrice | currency:'USD'}}</div>
            </div>
            <div class="promo-container" *ngIf="quote?.discount?.discountAmount">
              <div class="price">PROMO CODE</div>
              <div class="total">-{{quote?.discount?.discountAmount | currency:'USD'}}</div>
            </div>
            <div class="total-container">
              <div class="price">Grand Total</div>
              <div class="total">{{quote?.discount?.finalAmount | currency:'USD'}}</div>
            </div>
          </ng-container>
          <ng-template #quoteTotal>
            <div class="total-container">
              <div class="price">Grand Total</div>
              <div class="total">{{quote?.totalPrice | currency:'USD'}}</div>
            </div>
          </ng-template>

        </div>
      </div><!-- end info section -->

    </form>
  </div>
  <div class="d-flex">
    <button type="button" class="btn primary medium ml-auto" *ngIf="quote?.invoicePath"
      (click)="print(quote.invoicePath)">Print</button>
  </div>
</div>
