.static-content{
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
      }
      &.arrow-list{
        margin-bottom: 30px;
        li{
          margin-left: 1.8rem;
          span.arrow{
            margin-left: -1.8rem;
            margin-right: 8px;
            display: inline-block;
            width: 15px;
            height: 12px;
            background: url(/assets/images/contact-right-arrow.svg) no-repeat center;
            background-size: 100%;
          }
        }
      }
    }
  }
