<app-header-submenu [isHomePage]="true" [isPublicPages]="true" >
</app-header-submenu>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="static-content">

        <h1 class="static-heading">About Us</h1>
        <p>Event Box is an online marketplace connecting planners and vendors to streamline any event.</p>
        <p>We support event industry professionals and service/product providers with maximum business exposure and event management tools creating a seamless marketplace.</p>
        <p>Event Box connects vetted vendors to various event planners through our online platform that saves the planner time and effort when organizing and booking events.</p>
        <h2>How does it work?</h2>
        <div class="list-heading">PLANNERS</div>
        <ul class="arrow-list">
          <li><span class="arrow"></span> From start to finish you create a detailed event page for a single event to multiple events.</li>
          <li><span class="arrow"></span> Search from the curated inventory for all event categories that you would need for your event to make it one of a kind.</li>
          <li><span class="arrow"></span> Message + Communicate with a vendor about a specific product.</li>
          <li><span class="arrow"></span> Request a quote based on your personalized event needs.</li>
          <li><span class="arrow"></span> Submit payment for the confirmed quotes. <span>(no more credit card forms to fill out for multiple vendors for one event)</span></li>
          <li><span class="arrow"></span> Have a successful event!</li>
        </ul>
        <div class="list-heading">VENDORS</div>
        <ul class="arrow-list mb-0">
          <li><span class="arrow"></span> Create a personalized profile and upload those top rated and specialty products and services with all details and photos available.</li>
          <li><span class="arrow"></span> Once a planner requests a quote or submits for an inquiry for a specific item, you will be notified and the channel will open up for communication.</li>
          <li><span class="arrow"></span> Once a quote is submitted for pricing and availability, you have a timed request that is active.</li>
          <li><span class="arrow"></span> You can either reject the request (which requires reasoning - i.e not available that date) or you can submit a quote and fill out all necessary notes, including additional pricing that will match that specific event needs.</li>
          <li><span class="arrow"></span> The planner will then have to accept the pricing on the quote and submit for payment, reject the quote based on the new pricing or request a counter where you will have the opportunity to adjust items on the quote.</li>
          <li><span class="arrow"></span> The planner will submit payment and you are all set.</li>
          <li><span class="arrow"></span> Have a successful event!</li>
        </ul>

      </div><!-- static-content -->
    </div><!-- col-12 -->
  </div><!-- row -->
</div><!-- container -->
<app-footer></app-footer>
