<app-header-submenu [isHomePage]="true" [isPublicPages]="true" ></app-header-submenu>
<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="static-content">
  
          <h1 class="static-heading">Contact Us</h1>
          <p>Feel free to contact the Event Box team for additional information.</p>
  
          <div class="list">
            <h5>Sales & General Inquiries:</h5>
            <a href="mailto:info@myeventbox.com">info@myeventbox.com</a>
          </div>
  
          <div class="list">
            <h5>Press Inquiries:</h5>
            <a href="mailto:press@myeventbox.com">press@myeventbox.com</a>
          </div>
  
          <div class="list">
            <h5>Partnership Opportunities:</h5>
            <a href="mailto:partnerships@myeventbox.com">partnerships@myeventbox.com</a>
          </div>
  
          <div class="list mb-0">
            <h5>Support & Billing:</h5>
            <a href="mailto:support@myeventbox.com">support@myeventbox.com</a>
          </div>
  
        </div><!-- static-content -->
      </div><!-- col-12 -->
    </div><!-- row -->
  </div><!-- container -->
  <app-footer></app-footer>

  