
<ng-container *ngIf="(salesCategories$ | async)"></ng-container>
<div class="card-wrapper sale-card-wrapper">
  <div class="box  no-image btn-col-2-with-space">
    <div class="dashboard-head">
      <h3>Sales by Categories</h3>
      <div class="filter-section">
        <app-shared-date-filter (filterDateEvent)="quoteDateFilter($event)"></app-shared-date-filter>
      </div>
    </div>
    <div class="card-row-wrapper">
      <div class="card-row" *ngFor="let category of topFiveCategories">
        <span>{{category?.name}}</span>
        <span>{{category?.grossSale | currency:'USD':'symbol':'1.2-2'}}</span>
      </div>

      <div class="view-all-row" *ngIf="categories?.length > 5" (click)="openViewAll(otherCategories)">
        <a href="javascript:void(0)" class="link" title="View all">View all <img src="assets/images/arrow-right.svg"
            alt="Arrow Righr" /></a>
      </div>
    </div>
  </div>
  <app-top-sellers *ngIf="topSellers?.length" [topSellers]="topSellers" class="box  no-image btn-col-2-with-space p-0"></app-top-sellers>
</div>

<ng-template #otherCategories>
  <div class="card-wrapper sale-card-wrapper">
    <div class="box  no-image btn-col-2-with-space">
      <div class="dashboard-head">
      </div>
      <div class="card-row-wrapper">
        <div class="card-row" *ngFor="let category of categories">
          <span>{{category?.name}}</span>
          <span>{{category?.grossSale | currency:'USD':'symbol':'1.2-2'}}</span>
        </div>

      </div>
    </div>
  </div>
</ng-template>
