@import "~assets/scss/variables";
.location-input{
  position: relative;
  .form-control{
    padding-right: 120px;
  }
  .btn{
    position: absolute;
    right: 20px;
    top: 43px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(#000000, 0.6);
    img{
      margin-right: 4px;
    }
    &.locate-me-text {
      color: #ff6516;
    }
  }
  @media screen and (max-width: $phone-landscape) {
    .btn {
      top: 39px;
    }
  }
}
.pac-container {
  z-index: 100000;
}
.landmark-info{
  display: inline-block;
  margin-left: 8px;
  margin-top: -2px;
  cursor: pointer;
}
