@import "~assets/scss/variables";
header{
  background: $white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  .navbar{
    padding: 0;
    @media screen and (min-width: $tablet-portrait){
      padding: 0 15px;
    }
  }
  @media screen and (max-width: $tablet-landscape) {
    box-shadow: none;
  }
}
.fixed-top {
  &.after-login-home {
    .navbar-brand {
      &.after-login-logo {
        padding-top: 22px;
        padding-bottom: 21px;
        img {
          max-width: 134px;
        }
        @media screen and (max-width: $phone-landscape) {
          padding: 11px 0;
          img {
            max-width: 75px;
          }
        }
      }
    }
    @media screen and (max-width: $tablet-landscape) {
      .after-login-nav {
          .navbar-nav {
            &.show {
            top: -115px;
            height: calc(100vh + 115px);
          }
        }
      }
    }
  }
}
.navbar-brand{
    padding-top: 22px;
    padding-bottom: 21px;
    margin-right: 20px;
    img {
      max-width: 134px;
    }
    &.after-login-logo {
      padding-top: 22px;
      padding-bottom: 21px;
      @media screen and (max-width: $tablet-landscape) {
        padding: 11px 0;
        img {
          max-width: 75px;
        }
      }
    }
  @media screen and (max-width: $phone-landscape) {
    padding: 11px 0;
    img {
      max-width: 75px;
    }
  }
}
.nav-link{
  font-size: 13px;
  font-weight: 500;
  color: $black;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  position: relative;
  &.divider{
    background: transparent;
    width: 0;
    padding-left: 5px;
    padding-right: 10px;
    margin: 0;
  }
  &:not([href]):not([tabindex]):hover,
  &:not([href]):not([tabindex]):focus{
    color: $theme-color;
    svg g g path {
      &:first-child{
        fill: $theme-color;
      }
      &:nth-child(2){
        stroke: $theme-color;
      }
    }
  }
  &[title="Pending Vendor Sign Ups"] {
    &:not([href]):not([tabindex]):hover,
    &:not([href]):not([tabindex]):focus{
      color: $theme-color;
      svg {
        g {
          path {
            outline: none;
            stroke: none;
          }
          g {
            path {
              &:first-child{
                fill: $theme-color;
                stroke: none;
              }
              &:nth-child(2){
                stroke: $theme-color;
                fill: none;
              }
            }
          }
        }
      }
    }
  }
  .badge{
    position: absolute;
    top: -6px;
    margin-left: -10px;
  }
}
.nav-dropdown-item {
  height: 25px;
  padding: 1px 10px ;
  line-height: normal;
  background: $white;
  color: $black;
  border-radius: 3px;
  border: solid 1px $theme-color;
  font-weight: 500;
  a {
    padding: 0;
    font-size: 10px;
    &:after {
      display: none;
    }
  }
  .dropdown-menu {
    max-width: 150px;
    height: auto;
    right: -10px;
    left: auto;
    top: 19px;
    border-radius: 4px;
    padding: 10px 0;
    a {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}
.dropdown-close-btn {
  display: none;
}
.btn-outline-primary{
  height: 25px;
  padding: 0 10px;
  font-size: 10px;
  border-radius: 3px;
  border: solid 1px $theme-color;
  font-weight: 500;
  color: $white;
  margin-left: 8px;
  background: $theme-color;
  &:hover{
    border-color: $theme-color;
    background: $theme-color;
    color: $white;
  }
  &:focus{
    box-shadow: none;
  }
  @media screen and (min-width: $tablet-portrait){
    height: 32px;
    font-size: 13px;
    padding: 5px 15px;
    line-height: normal;
    background: $white;
    color: $black;
    margin-left: 15px;
  }
}
.after-login-nav{
  justify-content: flex-end;
  .nav-link{
    font-size: 24px;
    font-weight: 400;
    line-height: 0;
    padding: 4px 20px;
    border-right: 1px solid #e5e5e5;
    color: #545454;
    .icon-message{
      font-size: 19px;
    }
    &:hover{
      svg{
        g{
          fill: $theme-color;
          path{
            &:nth-child(2),
            &:nth-child(4){
              fill: $theme-color;
            }
            stroke: $theme-color;
          }
        }
      }
    }
    &[title="30 Days Out"] {
      &:hover {
        svg{
          g{
            stroke: none;
            fill: none;
            text{
                fill: $theme-color;
            }
            &#Group-3 {
              rect {
                stroke: $theme-color;
                stroke-width: 0.7px;
              }
            }
            path {
              stroke: $theme-color;
              fill: $theme-color;
            }
            &#Group-4 {
              line:nth-child(3), line:nth-child(4) {
                stroke: $theme-color;
              }
            }
          }
        }
      }
    }
    &.nav-header-icon {
      display: none;
    }
    &.header-nav-link-sm {
      position: absolute;
      top: 19px;
      right: 128px;
      padding: 0 13px;
      display: none;
      @media screen and (max-width: $tablet-portrait){
        display: block;
      }
    }
  }
  .nav-close-btn {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 1;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
  }
  .dropdown-toggle{
    border: 0;
    padding-right: 0;
    .company-logo{
      height: 28px;
      width: 28px;
      object-fit: cover;
      border-radius: 50%;
    }
    &::after{
      content: '';
      border: 0;
      background: url(../../../../assets/images/dropdown.svg) no-repeat center;
      width: 10px;
      height: 7px;
      vertical-align: middle;
    }
  }
  .dropdown-menu{
    padding: 0;
    right: 0;
    left: auto;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    min-width: 275px;
    border: 0;
    margin-top: 37px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 15px;
      z-index: -1;
      top: -12px;
      right: 14px;
      background: url(../../../../assets/images/drop-down-top-arrow.svg) no-repeat center;
      background-size: cover;
    }
    .user-detail{
      display: flex;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid rgba(#d8d8d8, 0.45);
      background: #fff;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      .company-logo{
        height: 56px;
        width: 56px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 11px;
      }
      .user-name{
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
      }
      .user-email{
        font-size: 12px;
        color: #a6a6a6;
      }
    }
    .dropdown-item{
      padding: 10px 14px 10px 16px;
      border-bottom: 1px solid rgba(#d8d8d8, 0.45);
      font-size: 13px;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      align-items: center;
      cursor: pointer;
      &:last-child{
        cursor: pointer;
        pointer-events: initial;
      }
      &:focus{
        outline: 0;
        box-shadow: none;
      }
      &:active{
        background-color: #f8f9fa;
      }
      span{
        font-size: 22px;
        display: inline-block;
        margin-right: 15px;
        color: #545454;
        &.day-30-icon{
          margin-right: 21px;
          line-height: normal;
          font-size: 0;
        }
        &.icon-accept-reject{
          font-size: 16px;
          margin-right: 9px;
        }
        &.icon-cart{
          margin-right: 17px;
        }
        &.badge{
          margin-right: auto;
          margin-left: 4px;
          font-size: 10px;
          display: inline-flex;
          color: #fff;
        }
      }
      &.logout{
        color: #e95337;
        span{
          color: #f74a4a;
        }
      }
    }
  }
  @media screen and (max-width: $tablet-landscape) {
    display: block;
    .navbar-nav  {
      flex-wrap: wrap;
      align-content: flex-start;
      li {
        display: none;
        width: 100%;
        &:nth-last-of-type(2) {
          display: block;
          order: 2;
          position: fixed;
          top: 16px;
          right: 15px;
          width: 50px;
          text-align: right;
          z-index: 1;
          .nav-link {
            padding: 0;
            span {
              &::after {
                display: none;
              }
            }
          }
          .dropdown-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            margin: 0;
            &::before {
              display: none;
            }
            .user-detail {
              margin-top: 60px;
            }
            .dropdown-close-btn {
              position: absolute;
              top: 10px;
              right: 20px;
              display: block;
              font-size: 22px;
            }
            .dropdown-item {
              padding: 19px 14px 19px 16px;
              border: 0;
              position: relative;
              &:after {
                content: "";
                width: calc(100% - 60px);
                right: 0;
                bottom: 0;
                position: absolute;
                height: 1px;
                background: #e5e5e5;
              }
            }
          }
          & + li {
            display: block;
            order: 1;
            position: fixed;
            top: 20px;
            right: 75px;
            width: 52px;
            border-right: 1px solid #e5e5e5;
            font-size: 0;
            .nav-link {
              padding: 0;
              border: 0;
              span {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
        .nav-link {
          &.nav-header-icon {
            display: inline-flex;
            align-items: center;
            span {
              font-size: 22px;
            }
            &::after {
              content: "";
              border: 0;
              background: url('assets/images/dropdown.svg') no-repeat center;
              width: 10px;
              height: 7px;
              vertical-align: middle;
              display: inline-block;
              margin-left: 7px;
            }
          }
        }
      }
      &.show {
        height: calc(100vh + 61px);
        width: calc(100% + 30px);
        top: -61px;
        left: -15px;
        position: relative;
        padding-top: 100px;
        .nav-close-btn {
          display: inline-flex;
        }
        &::after {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: #fff;
        }
        li {
          z-index: 1;
          height: 60px;
          padding-left: 68px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: relative;
          &:after {
            content: "";
            right: 0;
            bottom: 0;
            height: 1px;
            background: #e5e5e5;
            width: 100%;
          }
          .nav-link {
            padding: 0;
            border: 0;
            .badge {
              display: inline-block;
              width: 19px;
              margin-left: 0;
              left: -30px;
              top: -11px;
            }
            span  {
              width: 100%;
              display: flex;
              align-items: center;
              .badge {
                display: inline-block;
              }
              span {
                display: none;
              }
              &:before {
                position: absolute;
                left: -45px;
              }
              &:after {
                content: "";
                position: relative;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #000;
              }
              &.icon-add {
                &:after {
                  content: "Add Event";
                }
                &.vendor {
                  &:after {
                    content: "Add Product/Service";
                  }
                }
              }
              &.icon-message {
                &:after {
                  content: "Messages";
                }
              }
              &.icon-bell {
                &:after {
                  content: "Notifications";
                }
              }
              &.icon-quote-folder {
                &:after {
                  content: "Quote Request Folder";
                }
                svg {
                  position: absolute;
                  left: -45px;
                }
              }
              &.icon-bid {
                &:after {
                  content: "Price Quotes Needed";
                }
                &.planner {
                  &:after {
                    content: "Quote Request Folder";
                  }
                }
              }
              &.icon-cart {
                &:after {
                  content: "New Orders";
                }
                &.planner {
                  &:after {
                    content: "Cart";
                  }
                }
              }
              &.day-30-icon {
                &:after {
                  content: "30 Days Out";
                }
                svg {
                  position: absolute;
                  left: -45px;
                }
              }
              &.icon-heart {
                &:after {
                  content: "Favorites";
                }
              }
              &.icon-accept-reject {
                font-size: 18px;
                &:after {
                  content: "Accept / Reject Quotes";
                }
              }
            }
          }
          &:nth-last-of-type(2) {
            z-index: -1;
            padding: 0;
            & + li {
              z-index: -1;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
.header-search-left {
  margin: 0 auto 0 0;
  @media screen and (max-width: $tablet-landscape) {
    margin: 0;
    .header-search-after-login {
      display: block;
    }
  }
}
@media screen and (max-width: $desktop) {
  .after-login-nav {
    .nav-link {
      padding: 4px 13px;
    }
  }
}
.after-login-home {
  .after-login-nav {
    .nav-close-btn {
      top: 70px !important;
    }
  }
}
