<div class="container fixed-header-padding">

  <div class="small-center-container" *ngIf="resetPasswordForm">
    <h4 *ngIf="isPartnerUser; else nonPartner" class="main-title"> Set Your Password</h4>
    <ng-template #nonPartner>
      <h4 class="main-title">{{ (isAdminUser) ? 'Set' : 'Reset' }} Password</h4>
      <p class="subtitle">{{ (isAdminUser ) ? 'Set' : 'Reset' }} your new password</p>
    </ng-template>
    <form class="signin-form" autocomplete="off" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
      <div class="form-group input-with-sign">
        <label for="password">New Password*</label>
        <input type="{{passwordType.password}}" autocomplete="new-password" class="form-control" id="password"
          formControlName="password" placeholder="Enter new password" maxlength="15"
          [ngClass]="{'is-invalid': (f?.controls?.password?.touched && f?.controls?.password?.errors)}">
        <ng-container *ngIf="f?.controls?.password?.touched">
          <div class="invalid-feedback" *ngIf="f?.controls?.password?.errors?.required">New password is required.
          </div>
          <div class="invalid-feedback" *ngIf="f?.controls?.password?.errors?.minlength">New password minimum length is
            7
            characters.
          </div>
          <div class="invalid-feedback"
            *ngIf="f?.controls?.password?.errors?.pattern && !f?.controls?.password?.errors?.minlength">A number,
            special character
            (@,!,$ etc), uppercase and lowercase letter is required.
          </div>
        </ng-container>
        <em class="material-icons off" *ngIf="passwordType.password === 'password'"
          (click)="passwordType.password = 'text'">visibility_off</em>
        <em class="material-icons on" *ngIf="passwordType.password === 'text'"
          (click)="passwordType.password = 'password'">visibility_on</em>
      </div>

      <div class="form-group input-with-sign">
        <label for="confirmNewPassword">Confirm New Password*</label>
        <input type="{{passwordType.confirmPassword}}" autocomplete="new-password" class="form-control"
          id="passwordConfirmation" formControlName="passwordConfirmation" placeholder="Enter confirm new password"
          maxlength="15"
          [ngClass]="{'is-invalid': (f?.controls?.passwordConfirmation?.touched && (f?.controls?.passwordConfirmation?.errors || f?.errors?.mismatch))}">
        <ng-container *ngIf="f?.controls?.passwordConfirmation?.touched">
          <div class="invalid-feedback" *ngIf="f?.controls?.passwordConfirmation?.errors?.required">Confirm new password
            is
            required.
          </div>
          <div class="invalid-feedback" *ngIf="f?.errors?.mismatch">Confirm new password must be same as new password.
          </div>
        </ng-container>
        <em class="material-icons off" *ngIf="passwordType.confirmPassword === 'password'"
          (click)="passwordType.confirmPassword = 'text'">visibility_off</em>
        <em class="material-icons on" *ngIf="passwordType.confirmPassword === 'text'"
          (click)="passwordType.confirmPassword = 'password'">visibility_on</em>
      </div>
      <button type="submit" [disabled]="!f.valid"
        class="btn btn-block primary">{{ (isAdminUser || isPartnerUser) ? 'Set' : 'Reset' }} Password</button>

    </form>
  </div>
