<div class="order-summary">
  <h3 *ngIf="fromPayment">Price Details</h3>
  <h3 *ngIf="!fromPayment">Order Summary</h3>
  <div class="count-row">
    <span *ngIf="priceAndDiscount.totalItems === 1; else items">Total (1 item)</span>
    <ng-template #items>
        <span>
          Total ({{priceAndDiscount?.totalItems}} items)</span>
      </ng-template>
    <span>{{priceAndDiscount.totalAmount| currency:'USD':'symbol':'1.0-2'}}</span>
  </div>
  <div class="count-row" *ngIf="priceAndDiscount.promoCodeLength">
    <span>Promo Code(s)</span>
    <span>-{{priceAndDiscount.couponAmount| currency:'USD':'symbol':'1.0-2'}}</span>
  </div>
  <div class="count-row total">
    <span>Grand Total</span>
    <span>{{priceAndDiscount.amountToPay| currency:'USD':'symbol':'1.0-2'}}</span>
  </div>
</div>
