@import "~assets/scss/variables";
@import "~assets/scss/table";

.table-head,
.table-body {
  justify-content: space-between;
}
.table-body {
  color: rgba(#000, 0.8);
  .product-col{
    span{
      padding-left: 12px;
    }
  }
  .product-image{
    width: 56px;
    height: 56px;
    border-radius: 4px;
  }
  .rating-container{
    padding: 0;
  }
  .btn {
    width: 100px;
    height: 35px;
    font-size: 12px;
    padding: 8px 0 7px;
    &+.btn {
      margin-top: 10px;
    }
  }
}
.tbody-data {
  word-break: break-word;
  &:nth-child(1){width: 25%;}
  &:nth-child(2){width: 12%;}
  &:nth-child(3){width: 28%;}
  &:nth-child(4){width: 10%;}
  &:nth-child(5){width: 12%;}
  &:last-child{
    width: 13%;
    max-width:150px;
  }
}
