<div class="modal-header with-sub-header" ngbAutoFocus>
    <h4 class="modal-title">Forgot Password </h4>
    <h5 class="modal-sub-title">Enter your email address to reset your password.</h5>
</div>
<div class="modal-body">
    <form class="forgot-form" autocomplete="off" [formGroup]="forgotForm" (submit)="forgot()">
        <div class="form-group">
            <label for="email">Email Address*</label>
            <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': f.email?.errors && f.email?.touched}" id="email" aria-describedby="emailHelp" placeholder="Enter email address">
      <!-- please put "is-invalid" class for error -->
      <div class="invalid-feedback" *ngIf="f.email?.errors?.required && f.email?.touched"> {{ requiredEmail }} </div>
      <div class="invalid-feedback" *ngIf="f.email?.errors?.email && f.email?.touched">{{ invalidEmail }}</div>
      <div class="invalid-feedback" *ngIf="f.email?.errors?.invalidEmail && !f.email?.errors?.email && !f.email?.errors?.required && f.email?.touched">{{ invalidEmail }}</div>

        </div>
        <button type="submit" [disabled]="!forgotForm.valid" class="btn btn-block primary mt-1">Submit</button>
    </form>
</div>
 <div class="modal-footer">
    <div class="flex-column text-center w-100">
        <div class="links"><a (click)="signin(content)" class="font-medium">Back to Sign in</a></div>
    </div>
</div>
<ng-template #content let-modal>
    <app-login></app-login>
</ng-template>
