<div class="container">
  <div class="order-page-wrapper">
    <app-breadcrumbs></app-breadcrumbs>
    <ng-container *ngIf="(shoppingCartData$| async)">
    </ng-container>
    <ng-container *ngIf="cartData?.quotes.length">
      <h1 class="page-title">Shopping Cart
        <span *ngIf="itemCount === 1; else items">
          ({{itemCount}} item)</span>
        <ng-template #items>
          <span>
            ({{itemCount}} items)</span>
        </ng-template>
      </h1>
      <div class="order-detail-row">
        <div class="order-detail-box cart-table-box">
          <!-- table start form here -->
          <app-shared-cart-table [quotesList]="cartData?.quotes" (fetchCartData)="getCartData()"></app-shared-cart-table>
          <!-- end table -->
        </div>
        <app-promo-code-section [cartData]="cartData" (getCartData)="getCartData()" class="promo-code-wrapper"></app-promo-code-section>
      </div>
    </ng-container>
    <div class="table-listing awaited-quote-table" *ngIf="!loading  && !cartData?.quotes.length">
      <div class="no-result">
        <img src="assets/images/no-data.svg" alt="No results" />
        <p class="mt-5">Sorry! No results found :(</p>
      </div>
    </div>
  </div>
</div>
