@import "~assets/scss/variables";
.add-card-container{
  margin-bottom: 0;
  .page-title{
    margin: 30px 0 40px;
  }
  .form-group{
    margin-bottom: 40px;
    @media screen and (max-width: $phone-landscape) {
      margin-bottom: 16px;
    }
  }
}
.card-form{
  .card-sub-title{
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #111210;
    margin: 10px 0 30px;
  }
  .btn-space{
    text-align: right;
    background: transparent;
    border-top: 1px solid #e2e2e2;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 25px 15px;
    .btn{
      width: 200px;
      & + .btn{
        margin-left: 16px;
      }
    }
  }
}
@media screen and (max-width: $phone-landscape) {
  .add-card-container{
    .page-title{
      margin: 24px 0;
      font-size: 20px;
    }
    .form-group {
      margin-bottom: 16px;
    }
  }
  .card-form{
    .card-sub-title{
      margin: 10px 0 20px;
      font-size: 16px;
    }
    .btn-space{
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-top: 10px;
      padding: 15px;
      display: flex;
      .btn{
        width: calc(50% - 10px);
        flex: 1;
        & + .btn{
          margin-left: 20px;
        }
      }
    }
  }
}


