.select-modal{
    padding-top: 65px;
    padding-bottom: 65px;
    .confirm-title{
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 45px;
    }
    .form-row{
      margin-bottom: 21px;
    }
  }
  